<template>
  <b-card show-header>
    <div slot="header" class="d-flex justify-content-between align-items-center">
      <h5 style="line-height: unset; margin-bottom: 0rem;">{{commissie.Naam}}</h5>
    </div>
    <b-list-group>
      <b-list-group-item v-for="lid in commissiemetbitonnamen.Leden" :key="lid.Lidnummer"
                         :to="{ name: 'leden-lidnr', params: { lidnr: lid.Lidnummer }}">
        <span>{{lid.Bitonnaam}}</span>
        <span v-if="lid.Functie"> &nbsp;({{lid.Functie}})</span>
      </b-list-group-item>
      <a href="#" class="list-group-item list-group-item-action" v-on:click.prevent="nieuwcommissielid">
        <div class="w-100 text-center">+</div>
      </a>
    </b-list-group>
  </b-card>
</template>

<script>
  import Vue from 'vue';
  export default Vue.extend({
    computed: {
      commissies () {
        return this.$store.state.commissies.commissies;
      },
      commissie () {
        const naam = this.$route.params.naam;
        const commissie = this.commissies.find(c => c.Naam === naam);
        if (!commissie) {
          const com =
            this.$store.dispatch('commissies/updatecommissie', { Naam: naam, Leden: [] });
          return {};
        }
        console.log(JSON.stringify(commissie));
        return commissie;
      },
      commissiemetbitonnamen () {
        const com = Object.assign({}, this.commissie);
        if (com.Leden)
          com.Leden.forEach(l => {
            const lidlid = this.$store.state.leden.leden.find(l => l._id === l.Lidnummer);
            l.Bitonnaam = lidlid ? lidlid.Bitonnaam : '?';
          });
        return com;
      },
      loading () {
        return this.$store.getters.isLoading;
      }
    },
    methods: {
      nieuwcommissielid () {
        const lidnr = parseInt(prompt('Lidnummer:'));
        if (!lidnr) return;
        const functie = prompt('Functie:');
        const com = this.commissie;
        com.Leden.push({ Lidnummer: lidnr, Functie: functie });
        this.$store.dispatch('commissies/updatecommissie', com);
      }
    }
  });

</script>
