<template>
  <b-list-group>
    <router-link class="list-group-item list-group-item-action d-flex justify-content-between pr-0"
               active-class="active" v-for="commissie in commissies" :key="commissie.Naam"
               :to="{name: 'commissies-naam', params: {naam: commissie.Naam}}">
      <span>{{commissie.Naam}}</span>
    </router-link>
    <a href="#" class="list-group-item list-group-item-action" v-on:click.prevent="nieuwcommissie">
      <span class="w-100 text-center">+</span>
    </a>
  </b-list-group>
</template>
<script>
  import Vue from 'vue';
  export default Vue.extend({
    computed: {
      commissies () {
        return this.$store.state.commissies.commissies;
      },
      loading () {
        return this.$store.getters.isLoading;
      }
    },
    methods: {
      nieuwcommissie () {
        const naam = prompt('Commissienaam:');
        this.$router.push({ name: 'commissies-naam', params: { naam } });
      }
    }
  });
</script>
