<template>
  <div class="card nestcol m-3" style="overflow: hidden; box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.3);">
    <div class="card-header d-flex flex-row" style="flex-shrink: 0;">
      <h3 class="mr-auto pr-2" style="line-height: unset; margin: 0; white-space: nowrap;">
        <span>Gegevenscontrole</span>
      </h3>
      <b-button variant="primary" v-on:click="savelid">Opslaan</b-button>
    </div>
    <div class="card-block p-4" style="position: relative; min-height: 300px;">
      <loading :loading="loading"/>
      <div v-if="message" class="alert alert-danger">{{message}}</div>
      <lid-form :lidnr="lidnr"/>
    </div>
  </div>
</template>
<script>
  import LidForm from '../leden/LidForm';
  import axios from 'axios';
  import Vue from 'vue';

  export default Vue.extend({
    data: () => ({
      message: '',
      loading: false,
    }),
    computed: {
      code () {
        return this.$route.params.code;
      },
      lidnr () {
        return parseInt(this.$route.params.lidnr);
      },
      lid () {
        return this.$store.state['leden'].leden.find(l => l._id === this.lidnr) || {};
      },
    },
    async mounted () {
      try {
        this.loading = true;
        if (!this.lidnr) throw Error('Geen geldig lidnummer');
        const { data } = await axios.get(`/api/gegevenscontrole/${this.lidnr}/${this.code}`);
        if (data._id)
          this.$store.commit('leden/setlid', data);
        else throw Error('Gegevens konden niet geladen worden.');
      } catch (e) {
        if (e.response && e.response.status === 403)
          this.message = 'Dit adres is niet (meer) geldig.';
        else if (e.response && e.response.status === 404)
          this.message = `Lid met lidnummer ${this.lidnr} is niet gevonden.`;
        else this.message = e;
      } finally {
        this.loading = false;
      }
    },
    methods: {
      savelid () {

      },
    },
    components: {
      LidForm,
    },
  });
</script>
