<template>
  <div class="ui segments">
    <sui-segment>
      <sui-header sub>Link genereren</sui-header>
      <loading :loading="loadingleden"/>
    </sui-segment>
    <sui-segment>
      <loading :loading="loadingcodes"/>
    </sui-segment>
  </div>
</template>
<script>
  import { mapState } from 'vuex';
  import Vue from 'vue';

  export default Vue.extend({
    data: () => ({
      loadingcodes: false,
    }),
    computed: Object.assign({}, mapState({
      loadingleden: (state) => state.leden.loading.length > 0,
      leden: (state) => state.leden.leden,
    })),
    filters: {
      volledigenaam: function (lid) {
        return lid.Naam ? volledigenaam(lid.Naam) : '';
      },
    },
    mounted () {
      if (this.$store.state.leden.leden.length === 0) this.$store.dispatch('leden/loadleden');
    },
  });

  function volledigenaam ({ Roepnaam, Tussenvoegsel, Achternaam }) {
    return (Roepnaam || '') + (Tussenvoegsel ? ' ' : '') + (Tussenvoegsel || '') + ' ' + (Achternaam || '');
  }
</script>
