<template>
  <popper trigger="click" ref="popper" @show="poppershow">
    <div class="popper">
      <div id="aceeditor" style="width: 30em; height: 10em;"></div>
      <div style="display: flex; justify-content: flex-end; margin-top: 0.25em;">
        <sui-button basic @click.native="clearbuttonclick">Wissen</sui-button>
        <sui-button primary @click.native="filterbuttonclick">Filter</sui-button>
      </div>
    </div>
    <sui-button id="filterbutton" :basic="!filterlidnrs" :primary="!!filterlidnrs" icon="filter" title="Meer filters..."
                slot="reference"/>
  </popper>
</template>
<script lang="ts">
  import Vue from 'vue';
  import * as ace from 'brace';
  import 'brace/mode/javascript';
  import 'brace/theme/chrome';
  import Popper from 'vue-popperjs';
  import 'vue-popperjs/dist/css/vue-popper.css';
  import { mapActions, mapMutations, mapState } from 'vuex';

  export default Vue.extend({
    data: () => ({
      aceContent: '',
      editor: undefined,
    }),
    computed: {
      ...mapState({
        filterlidnrs: (state) => state.leden.filterlidnrs,
      }),
    },
    methods: {
      async filterbuttonclick () {
        await this.$store.dispatch('leden/filter', this.aceContent);
        this.$refs.popper.doClose();
      },
      clearbuttonclick () {
        this.editor.setValue('');
        this.filterbuttonclick();
      },
      poppershow () {
        this.editor.focus();
      },
    },
    watch: {},
    mounted () {
      const editor = this.editor = ace.edit('aceeditor');
      const session = editor.getSession();
      session.setMode('ace/mode/javascript');
      editor.setTheme('ace/theme/chrome');
      session.$worker.call('changeOptions', [{ asi: true }]);
      editor.setBehavioursEnabled(true);
      editor.setWrapBehavioursEnabled(true);
      session.on('change', () => {
        this.aceContent = editor.getValue();
      });
    },
    components: {
      Popper,
    },
  });
</script>
<style>

</style>
