﻿﻿<template>
  <div class="card nestcol">
    <div class="card-block d-flex flex-column nestcol">
      <div class="d-flex justify-content-between" style="flex-shrink: 0;">
        <input type="file" multiple="false" id="fileinput" accept=".xls,.xlsx,.csv,.ods" @change="loadfile"/>
        <span v-if="loading">Bezig met verwerken...</span>
        <button @click="opslaan" v-if="parsed">Opslaan</button>
      </div>
      <loading :loading="loading"/>
      <div id="jsoneditor" class="h-100"></div>
    </div>
  </div>
</template>
<script>
  /*global $*/
  import XLSX from 'xlsx';
  import Vue from 'vue';
  import Ajv from 'ajv';
  import lidschema from '../../lidschema.json';

  const JSONEditor = require('jsoneditor');
  require('brace/mode/json');
  export default Vue.extend({
    data () {
      return ({
        loading: false,
        editor: {},
        parsed: false,
        ajv: new Ajv()
      });
    },
    mounted () {

    },
    methods: {
      opslaan () {
        this.$store.dispatch('leden/replaceleden', this.editor.get());
      },
      loadfile (event) {
        if (event.target.files.length !== 1) return;
        const file = event.target.files[0];

        this.loading = true;
        const el = $('#jsoneditor')[0];
        this.editor = new JSONEditor(el, {
          mode: 'code'
        });

        var reader = new FileReader();
        reader.onload = async (e) => {
          await Vue.nextTick();
          var binary = '';
          var bytes = new Uint8Array(e.target.result);
          var length = bytes.byteLength;
          for (var i = 0; i < length; i++) {
            binary += String.fromCharCode(bytes[i]);
          }
          var wb = XLSX.read(binary, { type: 'binary', cellDates: true, cellText: false });

          //beware: vanaf hier wordt het erg hacky

          const yearfromtwonumberstring = (str) => {
            const twonumbernumber = parseInt(str, 10);
            if (isNaN(twonumbernumber)) return undefined;
            if (twonumbernumber >= 73) return 1900 + twonumbernumber;
            return 2000 + twonumbernumber;
          };
          const parsebestuurssoort = (str) => {
            if (/interim AB/i.test(str) || /interim-AB/i.test(str)) return 'Interim-AB';
            if (/interim SB/i.test(str) || /interim-SB/i.test(str)) return 'Interim-SB';
            if (/AB /.test(str)) return 'AB';
            if (/SB /.test(str)) return 'SB';
            if (/Elixer|Mafi Moshkela|Mirakel|Elysium|Candlelight|El Chupacabra|De Schijf van 5|De Schijf van Vijf|Tjogh|Duizendpoot|De Ivoren Toren|Marũrũ|Maruru|Kodama|Armada|Supernova|Feniks|Yggdrasil|Excalibur|Sheherazade|Da Vinci|Chronos/i
              .test(str)) return 'Bestuur';
            return undefined;
          };
          const parsebestuursfunctie = (str) => {
            if (/vice-praeses & ab actis/i.test(str)) return 'Vice-Praeses & Ab Actis';
            if (/2e vice-praeses/i.test(str)) return '2e Vice-Praeses';
            if (/vice-praeses(half)/i.test(str)) return 'Vice-Praeses (half)';
            if (/2e fiscus/i.test(str)) return '2e Fiscus';
            if (/2e praeses/i.test(str)) return '2e Praeses';
            if (/vice-praeses/i.test(str) || /vicepraeses/i.test(str)) return 'Vice-Praeses';
            if (/praeses/i.test(str)) return 'Praeses';
            if (/ab actis/i.test(str) || /ab-actis/i.test(str) || /abactis/i.test(str)) return 'Ab Actis';
            if (/fiscus/i.test(str)) return 'Fiscus';
            if (/vicarius/i.test(str)) return 'Vicarius';
            if (/assessor/i.test(str)) return 'Assessor';
            if (/imperator/i.test(str)) return 'Imperator';
            if (/casuaris/i.test(str)) return 'Casuaris';
            if (/curator musicalis/i.test(str)) return 'Curator Musicalis';
            if (/emptor/i.test(str)) return 'Emptor';
            return undefined;
          };
          const parseoudersoort = (str) => {
            if (/ouders/i.test(str)) return 'Ouders';
            if (/vader/i.test(str)) return 'Vader';
            if (/moeder/i.test(str)) return 'Moeder';
            if (/verzorgers/i.test(str)) return 'Verzorgers';
            return undefined;
          };
          const parsejanee = (str) => {
            if (/ja/i.test(str)) return true;
            if (/nee/i.test(str)) return false;
            return undefined;
          };
          const parsegeslacht = (str) => {
            if (/man/i.test(str) || /^\s*m\s*$/i.test(str)) return 'Man';
            if (/vrouw/i.test(str) || /^\s*v\s*$/i.test(str)) return 'Vrouw';
            if (!str || str === '?') return undefined;
            return 'Complicated';
          };
          const parseIK = (str) => {
            if (!str) return undefined;
            const academischjaarmatch = str.match(/IK (\d\d)-\d|20(\d\d)-\d|19(\d\d)-\d/i);
            const nummermatch = str.match(/\d\d-(\d\d)|\d\d-(\d)/);
            return {
              AcademischJaar: academischjaarmatch && academischjaarmatch[1]
                ? yearfromtwonumberstring(academischjaarmatch[1])
                : undefined,
              Nummer: nummermatch && nummermatch[1] ? parseInt(nummermatch[1]) : undefined
            };
          };
          const formatDate = (str) => {
            if (!str) return undefined;
            const m = new Date(str);
            if (isNaN(m.valueOf())) return undefined;
            var dateString = m.getUTCFullYear() + '-' + ('0' + (m.getUTCMonth() + 1)).slice(-2) + '-' + ('0' + m.getUTCDate()).slice(-2);
            return dateString;
          };
          const nonempty = (x) => {
            if (x == null) return x;
            if (typeof x === 'object') return Object.values(x).filter(v => v !== undefined).length > 0 ? x : undefined;
            else if (Array.isArray(x)) return x.length > 0 ? x : undefined;
            else return Error();
          };
          const makelid = (row) => ({
            _id: parseInt(row.lidnr),
            Bitonnaam: row.bitonnaam,
            Naam: nonempty({
              Roepnaam: row.roepnaam,
              Tussenvoegsel: row.tussenvoegsel,
              Achternaam: row.tussenvoegsel && row.achternaam.startsWith(row.tussenvoegsel) ? row.achternaam.substring(row.tussenvoegsel.length).trim() : row.achternaam,
              Voornamen: row.voornamen
            }),
            ALVNaam: row['alv-naam'],
            Adres: nonempty({
              StraatHuisnr: row.adres,
              Postcode: row.postcode,
              Woonplaats: row.woonplaats
            }),
            Telefoonnummers: nonempty([
              { Soort: 'Mobiel', Nummer: row.mobieletelefoonnummer },
              { Soort: 'Vast', Nummer: row.vastetelefoonnummer }
            ].reduce((xs, x) => x.Nummer ? [...xs, x] : xs, [])),
            Emailadres: row.emailadres,
            IBAN: /^[a-z]/i.test(row.banknummer) || !row.bank ? row.banknummer : `${row.banknummer} (${row.bank})`,
            Geslacht: parsegeslacht(row.geslacht),
            Geboortedatum: formatDate(row.geboortedatum),
            Allergieen: ((row.allergieen || '') + (row.allergieenopmerkingen ? ('. ' + row.allergieenopmerkingen) : '')) || undefined,
            PaMa_Lidnummer: parseInt(row.pamanummer) || undefined,
            Studies: nonempty([
              {
                Studienaam: row.studie1,
                Onderwijsinstelling: row.onderwijsinstelling,
                Studentnummer: row.studentnummer,
                Beginjaar: parseInt(row.beginstudie) || undefined,
                Afgestudeerd: /afgestudeerd/i.test(row.studie1) ? true : undefined
              }, {
                Studienaam: row.studie2,
                Onderwijsinstelling: row.onderwijsinstelling2,
                Studentnummer: row.studentnummer2,
                Beginjaar: parseInt(row.beginstudie2) || undefined,
                Afgestudeerd: /afgestudeerd/i.test(row.studie2) ? true : undefined
              }
            ].reduce((xs, x) => x.Studienaam ? [...xs, x] : xs, [])),
            Ouders: nonempty([
              {
                Soort: parseoudersoort(row.ouders),
                Naam: row.oudersnaam,
                Adres: {
                  StraatHuisnr: row.oudersadres,
                  Postcode: row.ouderspostcode,
                  Woonplaats: row.ouderswoonplaats
                },
                Telefoonnummer: row.ouderstelefoonnummer,
                Emailadres: row.oudersemail,
                Ouderdaguitnodigingen: parsejanee(row.ouderdaguitnodigingen),
                Ouderbijdrage: parsejanee(row.ouderbijdrage)
              }, {
                Soort: parseoudersoort(row.ouders2),
                Naam: row.oudersnaam2,
                Adres: {
                  StraatHuisnr: row.oudersadres2,
                  Postcode: row.ouderspostcode2,
                  Woonplaats: row.ouderswoonplaats2
                },
                Telefoonnummer: row.ouderstelefoonnummer2,
                Emailadres: row.oudersemail2,
                Ouderdaguitnodigingen: parsejanee(row.ouderdaguitnodigingen2),
                Ouderbijdrage: parsejanee(row.ouderbijdrage2)
              }
            ].reduce((xs, x) => (x.Adres && x.Adres.StraatHuisnr) || (x.Adres && x.Adres.Woonplaats) ? [...xs, x] : xs, [])),
            IK: parseIK(row.IKlid),
            Opzegdatum: row.eindlidmaatschap ? formatDate(row.eindlidmaatschap) : undefined,
            WilBIERR: parsejanee(row.wiltoegangtotBIERR),
            BIERREmailadres: row.BIERREmailadres,
            Besturen: nonempty([
              {
                AcademischJaar: yearfromtwonumberstring(((row['bestuur-1'] || '').match(/(\d\d)\/\d\d/) ||
                  [undefined, undefined])[1]),
                Soort: parsebestuurssoort(row['bestuur-1']),
                Functie: parsebestuursfunctie(row['bestuur-1'])
              }, {
                AcademischJaar: yearfromtwonumberstring(((row['bestuur-2'] || '').match(/(\d\d)\/\d\d/) ||
                  [undefined, undefined])[1]),
                Soort: parsebestuurssoort(row['bestuur-2']),
                Functie: parsebestuursfunctie(row['bestuur-2'])
              }
            ].reduce((xs, x) => x.AcademischJaar ? [...xs, x] : xs, []))
          });

          const leden = [];
          let vervangendlidnummerteller = 100000;

          var ledenrows = XLSX.utils.sheet_to_json(wb.Sheets['Leden'], { dateNF: 'yyyy-mm-dd' });
          var oudledenrows = XLSX.utils.sheet_to_json(wb.Sheets['Oud-leden'], { dateNF: 'yyyy-mm-dd' });
          oudledenrows.push(...XLSX.utils.sheet_to_json(wb.Sheets['Nog om te zetten naar Oud-leden'], { dateNF: 'yyyy-mm-dd' }));
          oudledenrows.push(...XLSX.utils.sheet_to_json(wb.Sheets['Leden van verdienste'], { dateNF: 'yyyy-mm-dd' }));
          oudledenrows.push(...XLSX.utils.sheet_to_json(wb.Sheets['Overledenen'], { dateNF: 'yyyy-mm-dd' }));

          oudledenrows.forEach(row => {
            if (Object.keys(row).length === 1) return;
            if (!row.eindlidmaatschap) row.eindlidmaatschap = '1900-1-1';
            if (!row.lidnr || isNaN(row.lidnr)) row.lidnr = ++vervangendlidnummerteller;
            const lid = makelid(row);
            if (!this.ajv.validate(lidschema, lid)) alert(this.ajv.errorsText() + '\n\n' + JSON.stringify(lid, null, 2));
            leden.push(lid);
          });
          ledenrows.forEach(row => {
            if (Object.keys(row).length === 1) return;
            const lid = makelid(row);
            if (!this.ajv.validate(lidschema, lid)) alert(this.ajv.errorsText() + '\n\n' + JSON.stringify(lid, null, 2));
            leden.push(lid);
          });

          this.editor.set(leden);

          this.parsed = true;
          this.loading = false;
        };
        reader.readAsArrayBuffer(file);
      }
    }
  });
</script>
