﻿<template>
  <div id="ledenlist">
    <loading :loading="loading"/>
    <div class="d-flex pb-2">
      <sui-button basic icon="left arrow" size="small" class="show-if-small" @click.native="back"></sui-button>
      <div id="searchinput" class="small ui input" style="margin-right: 0.25em; width:0; flex:1;">
        <input placeholder="Zoeken..." v-model="regex" style="width: 0;">
      </div>
      <filter-popup></filter-popup>
      <sui-button basic icon="refresh" size="small" @click.native="loadleden"></sui-button>
      <sui-button basic icon="plus" size="small" @click.native="nieuwlid" style="margin-right: 0;"></sui-button>
    </div>
    <div style="margin-bottom: 0.5em; display: flex;">
      <sui-button class="tabbutton"
                  @click.native="() => {huidigleden = huidigleden ? !oudleden : !huidigleden}"
                  compact toggle :active="huidigleden" style="flex: 1;"> Leden
      </sui-button>
      <sui-button class="tabbutton"
                  @click.native="() => {oudleden = oudleden ? !huidigleden : !oudleden}"
                  compact toggle :active="oudleden" style="flex: 1; margin-right: 0;"> Oud-leden
      </sui-button>
    </div>
    <virtual-scroll-list id="virtual-scroll-list" :size="34" :remain="100">
      <router-link tag="li" class="list-group-item list-group-item-action d-flex justify-content-between p-0 pl-2 pr-0"
                   :active-class="'active'" style="z-index: 0;"
                   v-for="lid in searchleden" :key="lid._id"
                   :to="{name: 'leden-lidnr', params: { lidnr: lid._id.toString() }}">
        <a class="lidlink h-100 py-1" style="flex: 1; white-space: nowrap;">
          <span class="mr-2" style="opacity: 0.3;">{{lid._id}}</span> {{lid.Bitonnaam}}
          <span style="opacity: 0.5" v-if="lid.Naam && lid.Naam.Roepnaam">({{lid | volledigenaam}})</span>
        </a>
        <span v-if="signedin" class="dropdown split-dropdown d-flex align-items-center">
            <span class="dropdown-toggle px-3" data-toggle="dropdown"></span>
            <span class="dropdown-menu dropdown-menu-right">
              <button class="dropdown-item text-danger" v-on:click.prevent="verwijderlid(lid._id)" :disabled="loading">Verwijderen</button>
            </span>
          </span>
      </router-link>
    </virtual-scroll-list>
  </div>
</template>
<script lang="ts">
  import * as VirtualScrollList from 'vue-virtual-scroll-list';
  import * as diacritics from 'diacritics';
  import FilterPopup from './FilterPopup.vue';
  import Vue from 'vue';
  import { mapActions, mapMutations, mapState } from 'vuex';

  export default Vue.extend({
    ssr: false,
    components: {
      VirtualScrollList,
      FilterPopup,
    },
    data: () => ({
      regex: '',
      huidigleden: true,
      oudleden: false,
      modalopen: false,
    }),
    mounted () {
      if (this.leden.length === 0) this.loadleden();
    },
    computed: {
      signedin () {
        return true;
      },
      leden () {
        return this.$store.state.leden.leden;
      },
      loading () {
        return this.$store.state.leden.loading.length > 0;
      },
      searchleden () {
        const tableden = this.leden.filter(lid =>
          (this.huidigleden ? !lid.Opzegdatum : false)
          || (this.oudleden ? !!lid.Opzegdatum : false));
        const regexleden = !this.regex ? tableden : tableden.filter(lid => new RegExp(diacritics.remove(this.regex), 'i').test(
          diacritics.remove(lid.Bitonnaam + (lid.Naam && lid.Naam.Roepnaam ? (' ' + volledigenaam(lid.Naam)) : '')),
        ));
        return !this.filterlidnrs ? regexleden : regexleden.filter(lid => this.filterlidnrs.includes(lid._id));
      },
      subrouteactive () {
        return this.$route.name !== 'leden';
      },
      ...mapState({
        filterlidnrs: (state) => state.leden.filterlidnrs,
      }),
    },
    methods: {
      async loadleden () {
        await this.$store.dispatch('leden/loadleden');
        if (this.$route.params.lidnr)
          await this.$store.dispatch('leden/loadlid', parseInt(this.$route.params.lidnr));
      },
      nieuwlid () {
        const lidnr = Math.max(0, ...this.leden.map(l => l._id)) + 1;
        this.$router.push({ name: 'leden-lidnr', params: { lidnr: lidnr.toString() } });
      },
      async verwijderlid (lidnr) {
        await this.$store.dispatch('leden/deletelid', lidnr);
        if (this.$route.params.lidnr === lidnr) this.$router.push('/leden/');
      },
      back () {
        console.log('pshew');
        this.$router.push({ name: 'index' });
      },
    },
    filters: {
      volledigenaam: function (lid) {
        return lid.Naam ? volledigenaam(lid.Naam) : '';
      },
    },
  });

  function volledigenaam ({ Roepnaam, Tussenvoegsel, Achternaam }) {
    return (Roepnaam || '') + (Tussenvoegsel ? ' ' : '') + (Tussenvoegsel || '') + ' ' + (Achternaam || '').trim();
  }
</script>
<style>
  #ledenlist {
    display: grid;
    grid-template: auto auto 1fr / auto;
    position: relative;
    min-width: 25em;
  }

  #virtual-scroll-list {
    height: unset !important;
    overflow-x: hidden;
  }

  .split-dropdown {
    border-left: 1px solid rgba(0, 0, 0, .125);
  }

  .dropdown, .dropdown-item {
    cursor: pointer;
  }

  .active .split-dropdown {
    border-left: 1px solid rgba(255, 255, 255, .3);
  }

  .lidlink, .lidlink:hover, .lidlink:visited, .lidlink:link, .lidlink:active {
    text-decoration: none;
    color: #464a4c;
  }

  .active .lidlink {
    color: white;
  }

  .tabbutton:not(.active) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .tabbutton:focus:not(.active) {
    background-color: rgba(0, 0, 0, 0.05) !important;
  }

  .tabbutton:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.08) !important;
  }
</style>
