<template>
  <sui-menu id="tabmenu" :tabular="tabular" :secondary="!tabular">
    <router-link class="item" :to="{name: 'leden-lidnr', params: {lidnr: this.$route.params.lidnr}}"
                 active-class="active" exact>Simpel
    </router-link>
    <router-link class="item" :to="{name: 'leden-lidnr-json', params: {lidnr: this.$route.params.lidnr}}"
                 active-class="active">Geavanceerd
    </router-link>
    <router-link class="item"
                 :to="{name: 'leden-lidnr-mailinglijsten', params: {lidnr: this.$route.params.lidnr}}"
                 active-class="active">Mailinglijsten
    </router-link>
    <router-link class="item" :to="{name: 'leden-lidnr-stamboom', params: {lidnr: this.$route.params.lidnr}}"
                 active-class="active">Stamboom
    </router-link>
  </sui-menu>

</template>
<script>
  import Vue from 'vue';

  export default Vue.extend({
    props: {
      'tabular': {
        type: Boolean,
        default: false,
      },
    },
  });
</script>
<style scoped>
  #tabmenu {
    margin-bottom: calc(-1px - 0.6em);
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
</style>
