﻿﻿
<template>
  <sui-card style="flex-grow: 1; width: unset;">
    <loading :loading="loadinglid"></loading>
    <sui-card-content id="header">
      <sui-button id="backbutton" basic icon="left arrow" size="small" class="show-if-small"
                  @click.native="back"></sui-button>
      <h3 class="mr-auto pr-2 ml-3" style="line-height: unset; margin: 0; white-space: nowrap;">
        <span class="mr-3" style="color: rgba(0, 0, 0, 0.2);">{{lidnr}}</span>
        <span>{{lid.Bitonnaam}}</span>
      </h3>
      <lid-details-tabs tabular class="hideiftoonarrow"></lid-details-tabs>
      <b-button-group>
        <b-button variant="primary" v-on:click="savelid" :disabled="loading > 0">Opslaan</b-button>
        <b-dropdown variant="primary" right>
          <b-dropdown-item href="#" v-on:click.prevent="deletelid">Verwijderen</b-dropdown-item>
          <b-dropdown-item href="#" v-on:click.prevent="changeemail">E-mailadres wijzigen</b-dropdown-item>
        </b-dropdown>
      </b-button-group>
    </sui-card-content>
    <sui-card-content class="showiftoonarrow">
      <lid-details-tabs></lid-details-tabs>
    </sui-card-content>
    <sui-card-content id="content">
      <div class="alert alert-dismissible fade" :class="[message.variant, message.show > 0 ? 'show' : '']">
        {{message.text}}
      </div>
      <router-view/>
    </sui-card-content>
  </sui-card>
</template>

<script>
  /* global $ */
  import LidDetailsTabs from './LidDetailsTabs.vue';
  import EventBus from '../EventBus';
  import Vue from 'vue';

  export default Vue.extend({
    components: {
      LidDetailsTabs,
    },
    transition: 'none',
    data: function () {
      return {
        message: {
          show: 0,
          text: '',
          variant: '',
        },
      };
    },
    computed: {
      leden () {
        return this.$store.state.leden.leden;
      },
      lidnr () {
        return parseInt(this.$route.params.lidnr);
      },
      lid () {
        return this.leden.find(l => l._id === this.lidnr) || {};
      },
      loading () {
        return this.$store.getters.isLoading;
      },
      loadinglid () {
        return this.$store.state.leden.loadinglid > 0;
      },
    },
    methods: {
      async savelid () {
        EventBus.$emit('savelid');
      },
      async deletelid () {
        if (confirm(`Weet je zeker dat je ${this.lid.Bitonnaam || 'dit lid'} wilt verwijderen?`)) {
          await this.$store.dispatch('leden/deletelid', this.lidnr);
          this.$router.push('/leden/');
        }
      },
      async showmessage (text, variant = 'info', duration = 3) {
        this.message.text = text;
        this.message.variant = 'alert-' + variant;
        this.message.show = this.message.show + 1;
        await new Promise((resolve) => setTimeout(() => resolve(), duration * 1000));
        this.message.show = this.message.show - 1;
      },
      back () {
        this.$router.push({ name: 'leden' });
      },
      changeemail () {

      },
    },
    watch: {
      '$route' () {
        this.$store.dispatch('leden/loadlid', this.lidnr);
      },
      'user' () {
        this.$store.dispatch('leden/loadlid', this.lidnr);
      },
      'leden' () {
      },
    },
    mounted () {
      EventBus.$on('opgeslagen', () => {
        this.showmessage('Opgeslagen');
        console.log('Opgeslagen event');
      });
      this.$store.dispatch('leden/loadlid', this.lidnr);
    },
    filters: {
      volledigenaam (lid) {
        if (lid.Naam && lid.Naam.Roepnaam) {
          return (lid.Naam.Roepnaam || '') + (lid.Naam.Tussenvoegsel ? '  ' : '') + (lid.Naam.Tussenvoegsel || '') + ' ' + (lid.Naam.Achternaam || '');
        } else {
          return '';
        }
      },
    },
  });

</script>
<style scoped>


  .alert.fade {
    height: 0;
    padding: 0 1.25rem;
    margin: 0;
    transition-property: height, padding, margin, opacity;
  }

  .alert.fade.show {
    height: 3rem;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
  }

  #header {
    display: flex;
    border-bottom: rgb(212, 212, 213) solid 1px;
    flex-grow: 0 !important;
    align-items: center;
    padding: 0.6em !important;
    background-color: rgba(0, 0, 0, 0.02);
  }

  #backbutton {
    background-color: white !important;
  }

  #content {
    border-top: 0;
    overflow-y: auto;
  }

  @media (max-width: 88em) {
    .hideiftoonarrow {
      display: none;
    }

    .showiftoonarrow {
      display: block !important;
    }
  }

  .showiftoonarrow {
    display: none;
    flex-grow: 0 !important;
    padding: 0.5em !important;
    padding-bottom: 0 !important;
  }
</style>
