<template>
  <form id="form" ref="form"></form>
</template>
<script>
  import lidschema from '../../lidschema.json';
  import EventBus from '../EventBus';
  import Vue from 'vue';

  export default Vue.extend({
    /* global $ */
    /* global brutusin */
    data () {
      return {
        bf: {},
      };
    },
    computed: {
      lid () {
        return this.$store.state['leden'].leden.find(l => l._id === this.lidnr) || {};
      },
      lidnr () {
        return parseInt(this.$route.params.lidnr);
      },
    },
    methods: {
      makeform () {
        if (!this.lid._id) {
          console.log('this.lid bestaat maar heeft geen _id');
          return;
        }
        const formlid = Object.assign({}, this.lid);
        delete formlid._id;
        const formlidschema = JSON.parse(JSON.stringify(lidschema));
        delete formlidschema.properties._id;
        if (!this.bf.render) {
          this.bf = brutusin['json-forms'].create(formlidschema);
          EventBus.$off('savelid');
          EventBus.$on('savelid', () => {
            const data = Object.assign({ _id: this.lid._id }, this.bf.getData());
            this.$store.dispatch('leden/updatelid', data);
          });
        }
        $(this.$refs.form).empty();
        this.bf.render(this.$refs.form, formlid);
      },
    },
    watch: {
      lid () { if (this.lidnr) this.makeform(); },
    },
    mounted () { if (this.lidnr) this.makeform(); },
  });
</script>
<style>
  @import url('../../static/brutusin-json-forms.css');

  form {
    font-size: 10pt;
    margin-bottom: 1em;
  }

  form input, form label, form select {
    font-size: 9pt !important;
  }

  form .btn {
    font-size: 8pt;
    padding: .3rem;
  }

  td.prop-name {
    padding-top: 1em !important;
  }

  .remove:after {
    content: 'x';
  }

  .prop-name label {
    justify-content: right;
  }
</style>
