<template>
  <div id="jsoneditor" ref="jsoneditor"></div>
</template>
<script>
  /* global $ */
  import JSONEditor from 'jsoneditor';
  import 'brace/mode/json';
  import lidschema from '../../lidschema.json';
  import Ajv from 'ajv';
  import EventBus from '../EventBus';
  import Vue from 'vue';

  export default Vue.extend({
    data () {
      return {
        editor: {},
      };
    },
    computed: {
      lidnr () {
        return parseInt(this.$route.params.lidnr);
      },
      lid () {
        return this.$store.state.leden.leden.find(l => l._id === this.lidnr);
      },
    },
    methods: {
      makeeditor () {
        this.editor = new JSONEditor(this.$refs.jsoneditor, {
          schema: lidschema,
          ajv: new Ajv(),
          mode: 'code',
        });
        EventBus.$off('savelid');
        EventBus.$on('savelid', () => {
          const nieuwlid = this.editor.get();
          if (nieuwlid._id !== this.lidnr) throw Error('Mag _id niet veranderen');
          this.$store.dispatch('leden/updatelid', nieuwlid);
        });
      },
    },
    watch: {
      lid () {
        if (!this.editor.set) this.makeeditor();
        if(this.lid) this.editor.set(this.lid);
      },
    },
    mounted () {
      if (!this.editor.set) this.makeeditor();
      if(this.lid) this.editor.set(this.lid);
    },
  });
</script>
<style>
  @import url('../../static/jsoneditor.css');

  #jsoneditor {
    width: 100%;
    height: 100%;
  }

  .jsoneditor-menu, .jsoneditor-statusbar {
    display: none;
  }

  div.jsoneditor-outer {
    margin: 0;
    padding: 0;
  }
</style>
