<template>
  <div>
    <loading :loading="loading"/>
    <div v-if="mailinglijstenbyemail.length > 0" class="ui large divided list"
         style="margin-top: 0; margin-bottom: 1em;">
      <div class="item" v-for="mailinglijst in mailinglijstenbyemail">
        <router-link class="header" :to="{ name: 'mailinglijsten-id', params: { id: mailinglijst.Id } }">
          {{mailinglijst.Naam}}
        </router-link>
        <router-link class="description" :to="{ name: 'mailinglijsten-id', params: { id: mailinglijst.Id} }">
          {{mailinglijst.Emailadres}}
        </router-link>
      </div>
    </div>
    <div
      v-if="lid && lid.Emailadres && mailinglijstenbyemailemail === lid.Emailadres && mailinglijstenbyemail.length === 0 && !loading">
      <p>Geen mailinglijsten gevonden</p>
      <p>Dit kan omdat {{lid.Bitonnaam || 'dit lid'}} op geen enkele mailinglijst staat, of door een bug in Google Apps
        die ervoor zorgt dat de lijst met mailinglijsten incorrect leeg is.</p>
    </div>
  </div>
</template>

<script>
  import { mapActions } from 'vuex';
  import Vue from 'vue';

  export default Vue.extend({
    computed: {
      loading () {return this.$store.state.mailinglijsten.loading.length > 0;},
      lidnr () { return parseInt(this.$route.params.lidnr); },
      lid () { return this.$store.state.leden.leden.find(l => l._id === this.lidnr); },
      mailinglijstenbyemail () {
        if (this.lid && this.lid.Emailadres && this.mailinglijstenbyemailemail
          && this.mailinglijstenbyemailemail.toLowerCase() === this.lid.Emailadres.toLowerCase())
          return this.$store.state.mailinglijsten.byemail.mailinglijsten;
        else
          return [];
      },
      mailinglijstenbyemailemail () {
        return this.$store.state.mailinglijsten.byemail.email;
      },
    },
    methods: Object.assign({}, mapActions({
      loadmailinglijstenbyemail: 'mailinglijsten/loadmailinglijstenbyemail',
    })),
    watch: {
      'lid' (newlid) {
        if (newlid && newlid.Emailadres && this.$store.state.mailinglijsten.byemail.email !== newlid.Emailadres) {
          console.log('loading ' + newlid.Emailadres);
          this.loadmailinglijstenbyemail(newlid.Emailadres);
        }
      },
    },
  });

</script>
