<template>
  <div id="boom" class="w-100 h-100" style="overflow: hidden;" ref="boom"></div>
</template>
<script>
  import * as d3 from 'd3';
  import { mapState } from 'vuex';
  import Vue from 'vue';

  export default Vue.extend({
    data: () => ({
      svg: null,
      group: null,
      zoom: null,
      zoomrect: null
    }),
    computed: Object.assign({
      lidnr() {
        return parseInt(this.$route.params.lidnr);
      },
      lidnode() {
        return flatten(this.nodes).find(n => n.data._id === this.lidnr);
      }
    }, mapState({
      nodes: (state) => {
        let leden = [{ _id: 0, PaMa_Lidnummer: null, Bitonnaam: '' },
          ...state.leden.leden.filter(l => l.PaMa_Lidnummer !== l._id).map(({ _id, PaMa_Lidnummer, Bitonnaam }) => ({
            _id, PaMa_Lidnummer: PaMa_Lidnummer || 0, Bitonnaam
          }))];

        const tree = d3.stratify().id(l => l._id).parentId(l => l.PaMa_Lidnummer)(leden);
        return d3.tree().nodeSize([40, 100])(tree);
      },
    })),
    watch: {
      lidnode() {
        this.zoom.translateTo(this.zoomrect, this.lidnode.y, this.lidnode.x);
        this.group.selectAll('circle').remove();
        this.group.append('circle')
          .attr('cx', this.lidnode.y + 30)
          .attr('cy', this.lidnode.x)
          .attr('r', 40)
          .attr('fill', 'none')
          .attr('stroke', 'rgba(255,0,0,.5)');
      },
      nodes() {
        if(!this.group) return;
        this.group.selectAll('.link').remove();
        this.group.selectAll('.node').remove();

        const nodes = this.nodes;
        const group = this.group;

        const link = group.selectAll('.link').data(nodes.descendants().filter(n => n.parent && n.parent.data._id > 0)).enter()
          .insert('svg:path', 'g')
          .attr('class', 'link')
          .attr('d', d => {
            const pathing = d3.path();
            pathing.moveTo(d.parent.y + 30, d.parent.x);
            pathing.bezierCurveTo(d.y, d.parent.x, (d.parent.y + d.y) / 2 + 30, d.x, d.y + 10, d.x);
            return pathing;
          })
          .attr('stroke', 'black')
          .attr('fill', 'none');

        const node = group.selectAll('.node').data(nodes.descendants()).enter()
          .append('g')
          .classed('node', true)
          .attr('transform', d => `translate(${d.y},${d.x})`);

        node.append('text')
          .attr('dx', 10)
          .attr('dy', '.5ex')
          .text(d => d.data.Bitonnaam)
          .style('stroke', 'white')
          .style('stroke-width', '8px');

        node.append('text')
          .attr('dx', 10)
          .attr('dy', '.5ex')
          .text(d => d.data.Bitonnaam);
      }
    },
    mounted () {
      const svg = this.svg = d3.select('#boom').append('svg').attr('width', this.$refs.boom.clientWidth).attr('height', this.$refs.boom.clientHeight);
      const group = this.group = svg.append('g');
      const zoom = this.zoom = d3.zoom()
        .scaleExtent([0.1, 1.5])
        .on('zoom', () => group.attr('transform', d3.event.transform));
      const zoomrect = this.zoomrect = svg.append('rect')
        .attr('width', svg.attr('width'))
        .attr('height', svg.attr('height'))
        .style('fill', 'none')
        .style('pointer-events', 'all');
      zoomrect.call(zoom);


      window.addEventListener('resize', () => {
        svg.attr('width', this.$refs.boom.clientWidth)
          .attr('height', this.$refs.boom.clientHeight);
        zoomrect.attr('width', this.$refs.boom.clientWidth)
          .attr('height', this.$refs.boom.clientHeight);
      });
    }
  });

  function flatten (node) {
    return [{
      data: node.data,
      x: node.x,
      y: node.y
    }].concat(node.children ? [].concat.apply([], node.children.map(n => flatten(n))) : []);
  }
</script>
