<template>
  <table>
    <thead>
    <th>Lid</th>
    <th>date</th>
    <th>delta</th>
    </thead>
    <tbody>
    <tr v-for="item in logboek">
      <td>
        <router-link v-if="item.Lid" :to="{name: 'leden-lidnr', params: {lidnr: item.Lidnummer}}">
          {{item.Lid.Bitonnaam}}
        </router-link>
        <span v-else>{{item.Lidnummer}}</span>
      </td>
      <td>{{item.Date.toLocaleString('nl-NL')}}</td>
      <td>
        <pre>{{formatDelta(item.Delta)}}</pre>
      </td>
    </tr>
    </tbody>
  </table>
</template>
<script lang="ts">
  import Vue from 'vue';
  import axios from 'axios';
  import { getAuthHeader } from '../store/googleauth';
  import { mapActions, mapMutations, mapState } from 'vuex';

  export default Vue.extend({
    data: () => ({
      deltas: [],
    }),
    computed: {
      logboek () {
        return this.deltas.map(delta => ({
          Lidnummer: parseInt(delta.lidnr, 10),
          Lid: this.leden.find(l => l._id === parseInt(delta.lidnr, 10)) || null,
          Date: new Date(delta.date),
          Delta: delta.delta,
        }));
      },
      ...mapState({
        leden: (state) => state.leden.leden,
      }),
    },
    methods: {
      formatDelta (delta) {
        console.log(JSON.stringify(delta));
        let res = '';
        if (Array.isArray(delta)) {
          console.log('array');
          for (let obj of delta) {
            res += JSON.stringify(obj) + '\n';
          }
        } else if (typeof(delta) === 'object') {
          console.log('object');
          for (let [prop, [a, b]] of Object.entries(delta)) {
            if (!b) res = res + `${prop}: ${a}\n`;
            else res = res + `${prop}: ${a} → ${b}\n`;
          }
        }
        return res.trim();
      },
    },
    async mounted () {
      if (this.leden.length === 0)
        this.$store.dispatch('leden/loadleden');
      const { data } = await axios.get(`/api/leden/log`, { headers: { Authorization: getAuthHeader() } });
      this.deltas = data;
    },
  });
</script>