<template>
  <div class="ui segments" style="flex: 1; display: flex;">
    <sui-segment style="display: flex; align-items: center; padding: 0.5em;">
      <sui-button basic icon="left arrow" @click.native="back"/>
      <sui-header inline style="flex: 1; display: inline; margin: 0; position: relative; top: 0.2em; left: 0.5em;">
        Logboek
      </sui-header>
      <sui-button basic icon="refresh" @click.prevent="refresh"/>
    </sui-segment>
    <sui-segment style="overflow-y: scroll">
      <table class="pt-0 table table-sm">
        <thead>
        <tr>
          <th>Beschrijving</th>
          <th>Gebruiker</th>
          <th>Tijd</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(event, index) in events" :key="index">
          <td class="tdesc" v-if="event.name === 'ADD_GROUP_MEMBER'"><u>{{event.parameters.USER_EMAIL}}</u> toe&shy;ge&shy;voegd
            aan
            <router-link :to="emailtoroute(event.parameters.GROUP_EMAIL)">{{event.parameters.GROUP_EMAIL}}
            </router-link>
          </td>
          <td class="tdesc" v-else-if="event.name === 'REMOVE_GROUP_MEMBER'"><u>{{event.parameters.USER_EMAIL}}</u>
            ver&shy;wij&shy;derd uit
            <router-link :to="emailtoroute(event.parameters.GROUP_EMAIL)">{{event.parameters.GROUP_EMAIL}}
            </router-link>
          </td>
          <td class="tdesc" v-else-if="event.name === 'CREATE_GROUP'">
            <router-link :to="emailtoroute(event.parameters.GROUP_EMAIL)">{{event.parameters.GROUP_EMAIL}}
            </router-link>
            aan&shy;ge&shy;maakt
          </td>
          <td class="tdesc" v-else-if="event.name === 'DELETE_GROUP'">
            <router-link :to="emailtoroute(event.parameters.GROUP_EMAIL)">{{event.parameters.GROUP_EMAIL}}
            </router-link>
            ver&shy;wij&shy;derd
          </td>
          <td class="tdesc" v-else-if="event.name === 'CHANGE_GROUP_NAME'">Naam van
            <router-link :to="emailtoroute(event.parameters.GROUP_EMAIL)">{{event.parameters.GROUP_EMAIL}}
            </router-link>
            ver&shy;an&shy;derd naar {{event.parameters.NEW_VALUE}}
          </td>
          <td class="tdesc" v-else-if="event.name === 'CHANGE_GROUP_DESCRIPTION'">Be&shy;schrij&shy;ving van
            <router-link :to="emailtoroute(event.parameters.GROUP_EMAIL)">{{event.parameters.GROUP_EMAIL}}
            </router-link>
            aan&shy;ge&shy;past
          </td>
          <td class="tdesc" v-else-if="event.name === 'CHANGE_GROUP_SETTING'">Van
            <router-link :to="emailtoroute(event.parameters.GROUP_EMAIL)">{{event.parameters.GROUP_EMAIL}}
            </router-link>
            in&shy;stel&shy;ling {{event.parameters.SETTING_NAME}} ge&shy;zet op {{event.parameters.NEW_VALUE}}
          </td>
          <td class="tdesc" v-else>
            <pre>{{event.name}} -- {{JSON.stringify(event.parameters, null, 2)}}</pre>
          </td>
          <td :title="'IP-adres: ' + event.ipAddress">{{event.email}}</td>
          <td>{{event.time.toLocaleString('nl-NL')}}</td>
        </tr>
        </tbody>
      </table>
      <div style="height: 30px;" v-observe-visibility="visibilityChanged">
        <loading :loading="loading" inline style="margin-top: 2em;"/>
        <span v-if="laatstepagina">Alleen de laatste 6 maanden worden bijgehouden. <a
          href="https://support.google.com/a/answer/7061566" target="_blank">Meer info...</a></span>
      </div>
    </sui-segment>
  </div>
</template>
<script>
  /* global gapi */
  import Vue from 'vue';

  export default Vue.extend({
    data: () => ({
      nextPageToken: null,
      events: [],
      loading: true,
      laatstepagina: false,
    }),
    mounted () {
    },
    methods: {
      refresh () {
        this.nextPageToken = null;
        this.events = [];
        this.loading = false;
        this.laatstepagina = false;
        this.getmore();
      },
      async getmore () {
        this.loading = true;
        const response = await gapi.client.reports.activities.list({
          userKey: 'all',
          applicationName: 'admin',
          fields: 'items(actor/email,events(name,parameters(name,value),type),id/time,ipAddress),nextPageToken',
          maxResults: 100,
          pageToken: this.nextPageToken,
        });
        this.nextPageToken = response.result.nextPageToken;
        if (response.result.nextPageToken == null) this.laatstepagina = true;
        for (let activity of response.result.items)
          for (let event of activity.events)
            if (event.type === 'GROUP_SETTINGS')
              this.events.push({
                name: event.name,
                email: activity.actor.email.substring(0, activity.actor.email.indexOf('@')),
                time: new Date(activity.id.time),
                ipAddress: activity.ipAddress,
                parameters: event.parameters.reduce((o, val) => {
                  o[val.name] = val.value;
                  return o;
                }, {}),
              });
        this.loading = false;
      },
      emailtoroute (email) {
        return {
          name: 'mailinglijsten-id',
          params: {
            id: email.substring(0, email.indexOf('@')),
          },
        };
      },
      visibilityChanged (isVisible) {
        if (isVisible && !this.laatstepagina) this.getmore();
      },
      back () {
        this.$router.push({ name: 'index' });
      },
    },
  });
</script>
<style>
  .table {
    word-break: keep-all;
    white-space: nowrap;
  }

  .table th {
    border-top: 0;
  }

  .tdesc {
    word-break: normal;
    white-space: normal;
  }

  .scroll {
    overflow-y: auto;
  }
</style>
