<template>
  <div id="mailinglijstlistroot">
    <loading :loading="loading"/>
    <div class="mailinglijstlisttoolbar">
      <button class="ui icon button basic" @click="back">
        <i class="left arrow icon"></i>
      </button>
      <div class="ui fluid icon input mailinglijstlistsearchbar">
        <input type="text" placeholder="Zoeken..." v-model="searchtext">
        <i class="remove link icon" @click="searchtext = ''" v-if="searchtext.length > 0"></i>
        <i class="search icon" v-else></i>
      </div>
      <button class="ui right floated icon button basic" @click="loadmailinglijsten">
        <i class="refresh icon"></i>
      </button>
    </div>
    <div class="ui large divided list mailinglijstenlist" style="margin-left: 0.5em">
      <div class="item" v-for="mailinglijst in searchmailinglijsten">
        <router-link class="header" :to="{ name: 'mailinglijsten-id', params: { id: mailinglijst.Id } }">
          {{mailinglijst.Naam}}
        </router-link>
        <router-link class="description" :to="{ name: 'mailinglijsten-id', params: { id: mailinglijst.Id} }">
          {{mailinglijst.Emailadres}}
        </router-link>
      </div>
    </div>
  </div>
</template>
<script>
  /* global gapi */
  import { mapState, mapActions, mapMutations } from 'vuex';
  import Vue from 'vue';

  export default Vue.extend({
    data: () => ({
      searchtext: '',
    }),
    mounted () {
      if (this.mailinglijsten.length === 0) this.loadmailinglijsten();
    },
    computed: Object.assign({
      searchmailinglijsten () {
        if (this.searchtext.length === 0) return this.mailinglijsten;
        const r = new RegExp(this.searchtext, 'i');
        return this.mailinglijsten.filter(m => r.test(m.Naam) || r.test(m.Emailadres));
      },
    }, mapState({
      mailinglijsten: (state) => state.mailinglijsten.mailinglijsten,
      loading: (state) => state.mailinglijsten.loading.length > 0,
    })),
    methods: Object.assign({
      selectmailinglijst (id) {
        this.$router.push({ name: 'mailinglijsten-id', params: { id } });
      },
      back () {
        this.$router.push({ name: 'index' });
      },
    }, mapActions({
      loadmailinglijsten: 'mailinglijsten/loadmailinglijsten',
      selectmailinglijst: 'mailinglijsten/selectmailinglijst',
    }), mapMutations({})),
  });
</script>
<style>
  #mailinglijstlistroot {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 25em;
  }

  #mailinglijstlistroot > div:not(.overlay) + div {
    margin-top: 1rem;
  }

  .mailinglijstenlist {
    overflow-y: auto;
  }

  .mailinglijstlisttoolbar {
    display: flex;
  }

  .mailinglijstlistsearchbar {
    flex-grow: 1;
  }
</style>
