<template>
  <div v-if="mailinglijst" class="ui segment" style="display: flex; flex-direction: column; padding: 0.5em;">
    <loading :loading="loadingmailinglijstleden"/>

    <!--HEADER-->
    <div style="display: flex; justify-content: space-between; align-items: flex-start;">
      <div style="display: flex; align-items: flex-start;">
        <button class="ui icon button basic" @click="back">
          <i class="left arrow icon"></i>
        </button>
        <h1 class="ui header" style="margin-top: 0; margin-bottom: 1rem;">
          {{mailinglijst.Naam}}
          <span class="sub header">{{mailinglijst.Emailadres}}</span>
        </h1>
      </div>
      <a
        :href="`https://admin.google.com/${config.gapi_domain}/AdminHome#GroupDetails:groupEmail=${id}%2540${config.gapi_domain}`"
        style="text-align: right;">
        Openen in Google Admin Console
      </a>
    </div>

    <!--TOOLBAR-->
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <div style="white-space: nowrap; flex: 1; display: flex;">
        <sui-button class="labeled icon" style="flex: 1;" basic toggle icon="add"
                    :active="action === 'toevoegen'" @click.native="switchaction('toevoegen')">
          Leden toevoegen
        </sui-button>
        <sui-button class="labeled icon" style="flex: 1;" basic toggle icon="remove"
                    :active="action === 'verwijderen'" @click.native="switchaction('verwijderen')">
          Leden verwijderen
        </sui-button>
      </div>
      <i :class="[showsearch ? 'icon' : 'search link icon']" @click="togglesearch(true)"
         style="margin: 0 0.5em 0.5em 0.5em"></i>
    </div>
    <div v-if="showsearch" class="ui fluid icon input" style="margin-top: 0.5em;">
      <input type="text" placeholder="Zoeken..." v-model="searchtext" :autofocus="true" ref="search"
             @blur="() => { if(searchtext.length === 0) togglesearch(false); }" @keyup.esc="togglesearch(false)">
      <i class="remove link icon" @click="() => {togglesearch(false); }"></i>
    </div>

    <!--ACTION-->
    <div v-show="action" style="margin: 0 1em;">
      <div class="ui horizontal divider">Leden {{action}}</div>
      <div class="ledenselectdiv">
        <label>Kies leden:</label>
        <label><input type="checkbox" v-model="actiontoonoudleden"> Toon oud-leden</label>
        <multiselect id="ledenselect" v-model="actionleden" multiple :options="selectledenoptions" track-by="lidnr"
                     label="label"/>
      </div>
      <div class="ui form field" style="margin-top: 1em; margin-bottom: 0.5em;">
        <label for="actionemails">Of vul e-mailadressen in, één per regel of gescheiden met komma's:</label>
        <textarea id="actionemails" :class="{invalid: !actionemailsvalid}" v-model="actionemails"/>
      </div>
      <div class="positive ui button" style="float: right;" v-if="action === 'toevoegen' " @click="ledentoevoegen">
        Toevoegen
      </div>
      <div class="negative ui button" style="float: right;" v-if="action ==='verwijderen'" @click="ledenverwijderen">
        Verwijderen
      </div>
    </div>
    <div class="ui info message" v-if="lastmessage.length > 0">
      <i class="close link icon" @click="lastmessage = ''"></i>
      <span class="header">Resultaat van operatie:</span>
      <span style="white-space: pre;">{{lastmessage}}</span>
    </div>

    <!--LIST-->
    <div class="ui horizontal divider">Leden</div>
    <div class="ui list" style="overflow-y: auto; margin-top: 0; margin-left: 0.5em;">
      <span v-if="!loadingmailinglijstleden && mailinglijst.Leden.length === 0">Geen leden</span>
      <span v-if="!loadingmailinglijstleden && mailinglijst.Leden.length > 0 && searchmailinglijstleden.length === 0">Geen zoekresultaten</span>
      <span class="item" v-for="lid in searchmailinglijstleden">
        <router-link v-if="lid.Lidnummer" :to="{name: 'leden-lidnr-mailinglijsten', params: {lidnr: lid.Lidnummer}}">
          <span v-if="lid.Oudlid" class="ui mini label"><i></i>Oud-lid</span>
          <span v-if="lid.Bitonnaam">{{lid.Bitonnaam}} <span style="opacity: .6;">({{lid.Emailadres}})</span></span>
          <span v-if="!lid.Bitonnaam">{{lid.Emailadres}}</span>
        </router-link>
        <span v-else><span v-if="lid.Geenlid" class="ui mini label">Geen lid</span> {{lid.Emailadres}}</span>
        <div class="right floated content">
          <button class="ui mini basic icon button"
                  @click="verwijderlid(lid)"
                  style="padding: 0.3em 0.5em;">
            <span style="font-weight: 900; font-size: larger;">&times;</span>
          </button>
        </div>
      </span>
    </div>

  </div>
</template>
<script lang="ts">
  /* global $ */
  import { mapActions, mapMutations, mapState } from 'vuex';
  import Vue from 'vue';
  import * as config from '../../config.js';
  import { Mailinglijst } from '../store/mailinglijsten';
  import Multiselect from 'vue-multiselect';

  export default Vue.extend({
    components: {
      Multiselect,
    },
    data: () => ({
      showsearch: false,
      searchtext: '',
      config,
      lastmessage: '',
      action: undefined,
      actionemails: '',
      actionleden: [],
      actiontoonoudleden: false,
    }),
    mounted () {
      if (this.leden.length === 0) {this.loadleden();}
      this.loadmailinglijstleden(this.id);
    },
    methods: {
      togglesearch (setto) {
        if (typeof setto === 'undefined') this.showsearch = !this.showsearch;
        else this.showsearch = setto;
        if (this.showsearch) Vue.nextTick(() => this.$refs.search.focus());
        else this.searchtext = '';
      },
      back () {
        this.$router.push({ name: 'mailinglijsten' });
      },
      switchaction (action) {
        if (this.action === action || action === undefined) {
          this.action = undefined;
          this.actionemails = '';
          this.actionleden = [];
        } else this.action = action;

      },
      async ledentoevoegen () {
        if (this.id !== 'devtest') return console.error('Only test on devtest@biton.nl');
        const emails = [...this.actionemailsarray, ...this.actionleden.map(lid => lid.Emailadres)];
        if (emails.length === 0) return;
        this.lastmessage = await this.addmailinglijstleden({
          mailinglijst: this.mailinglijst,
          emails,
        });
        this.switchaction(undefined);
      },
      async ledenverwijderen () {
        if (this.id !== 'devtest') return console.error('Only test on devtest@biton.nl');
        const emails = [...this.actionemailsarray, ...this.actionleden.map(lid => lid.Emailadres)];
        if (emails.length === 0) return;
        this.lastmessage = await this.removemailinglijstleden({
          mailinglijst: this.mailinglijst,
          emails,
        });
        this.switchaction(undefined);
      },
      async verwijderlid (lid) {
        if (this.id !== 'devtest') return console.error('Only test on devtest@biton.nl');
        this.lastmessage = await this.removemailinglijstleden({
          mailinglijst: this.mailinglijst,
          emails: [lid.Emailadres],
        });
      },
      ...mapActions({
        loadmailinglijstleden: 'mailinglijsten/loadmailinglijstleden',
        loadleden: 'leden/loadleden',
        addmailinglijstleden: 'mailinglijsten/addmailinglijstleden',
        removemailinglijstleden: 'mailinglijsten/removemailinglijstleden',
      }),
    },
    watch: {
      'mailinglijst.Id' () {
        console.log('loading mailinglijstleden: ' + this.id);
        this.loadmailinglijstleden(this.id);
      },
    },
    computed: {
      id () { return this.$route.params.id;},
      mailinglijst () { return this.mailinglijsten.find(m => m.Id.toLowerCase() === (this.id as string).toLowerCase());},
      searchmailinglijstleden () {
        if (this.searchtext.length > 0)
          return (this.mailinglijst as Mailinglijst).Leden.filter(l => new RegExp(this.searchtext, 'i').test(`${l.Bitonnaam || ''} ${l.Emailadres}`));
        else return (this.mailinglijst as Mailinglijst).Leden;
      },
      selectledenoptions () {
        return (this.actiontoonoudleden ? this.leden : this.leden.filter(l => !l.Opzegdatum))
          .filter(lid => !this.mailinglijst.Leden.some(ml => ml.Lidnummer === lid._id)).map(lid => ({
            lidnr: lid._id,
            label: `${lid.Bitonnaam} (${volledigenaam(lid.Naam)})`,
          }));
      },
      actionemailsarray () {
        return this.actionemails.split(/[\n,]/).map(e => e.trim()).filter(e => e.length > 0);
      },
      actionemailsvalid () {
        return this.actionemailsarray.every(e =>
          /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/i.test(e),
        );
      },
      ...mapState({
        mailinglijsten: (state) => state.mailinglijsten.mailinglijsten,
        loadingmailinglijstleden: (state) => state.mailinglijsten.loadingmailinglijstleden.length > 0,
        leden: (state) => state.leden.leden,
      }),
    },
    filters: {
      volledigenaam: function (lid) {
        return lid.Naam ? volledigenaam(lid.Naam) : '';
      },
    },
  });

  function volledigenaam ({ Roepnaam, Tussenvoegsel, Achternaam }) {
    return (Roepnaam || '') + (Tussenvoegsel ? ' ' : '') + (Tussenvoegsel || '') + ' ' + (Achternaam || '').trim();
  }
</script>
<style>
  .ledenselectdiv {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .ledenselectdiv > div {
    grid-column: span 2;
  }

  .ledenselectdiv > label {
    margin-bottom: 0;
  }

  textarea.invalid {
    background-color: rgba(255, 0, 0, 0.08) !important;
  }
</style>
