<template>
  <div id="app">
    <div id="container">
      <router-view name="side"/>
      <router-view v-if="inited && signedin" name="a"/>
      <router-view v-if="inited && signedin" name="b"/>
      <router-view name="guest"/>
    </div>
    <portal-target name="modal" slim/>
  </div>
</template>

<script lang="ts">
  import { createNamespacedHelpers } from 'vuex';
  import Vue from 'vue';

  const { mapState } = createNamespacedHelpers('googleauth');

  export default Vue.extend({
    computed: {
      ...mapState({
        inited: (state) => state.inited,
        signedin: (state) => state.signedin,
      }),
    },
  });
</script>

<style>
  html, body, #container, #app {
    height: 100%;
  }

  input:focus, a:focus, button:focus {
    outline: none;
  }

  @media (max-width: 1023px) {
    #container {
      display: grid;
      grid-template: auto / 1fr;
    }

    #container > * {
      grid-row: 1;
      grid-column: 1;
      margin: 0;
      background-color: white;
      max-height: 100%;
    }

    #container > :nth-child(2) {
      padding: 0.5rem;
    }

    #container > :nth-child(3) {
      z-index: 3;
    }
  }

  @media (min-width: 1024px) {
    #container {
      display: grid;
      grid-template: 1fr / 8.5rem auto 1fr;
      width: 100%;
      height: 100%;
    }

    #container > :nth-child(2) > * {
      max-width: 25em;
    }

    #container > :nth-child(2), #container > :nth-child(3) {
      margin: 0.5em;
      max-height: 100%;
    }

    #container > *:nth-child(3) {
      margin-left: 0;
      width: unset !important;
    }
  }
</style>
