<template>
  <div v-if="inited" id="appnav" class="text-white d-flex flex-column align-items-center w100ifsmall"
       :class="[subrouteactive ? 'show-if-big' : '']" style="background-color: rgba(0,0,0,.85)">
    <div>
      <router-link :to="{name: 'index'}">
        <biton-logo/>
      </router-link>
      <div id="logindiv">
        <loading small inline v-if="!inited"/>
        <a id="signinlink" v-if="inited && !signedin" @click.prevent="signin" href="#">
          <span id="signinbutton">
            <span v-html="GoogleLogo" style="position: relative; top: 4px;"></span>
            Inloggen
          </span>
        </a>
        <span v-if="inited && signedin">{{user}}<br/><a href="#" @click.prevent="signout">Uitloggen</a></span>
      </div>
    </div>
    <ul class="nav" v-if="inited && signedin">
      <router-link v-for="nav in navs" :key="nav.route" tag="li" active-class="active" exact-active-class="exact-active"
                   :to="{name: nav.route}">
        <a>{{nav.text}}</a>
        <ul v-if="nav.nav" class="subnav">
          <router-link v-for="subnav in nav.nav" :key="subnav.route" active-class="active"
                       exact-active-class="exact-active" :to="{name: subnav.route}"
                       tag="li">
            <a>{{subnav.text}}</a>
          </router-link>
        </ul>
      </router-link>
    </ul>
  </div>
  <loading v-else/>
</template>
<script>
  import { mapState, mapActions } from 'vuex';
  import Vue from 'vue';
  import BitonLogo from './bitonlogo.vue';
  import GoogleLogo from '../static/googlelogo.svg';

  export default Vue.extend({
    data: () => ({
      navs: [
        {
          route: 'leden', text: 'Leden', nav: [
            { route: 'leden-import', text: 'Importeren' },
            { route: 'gegevenscontrole', text: 'Gegevenscontrole' },
          ],
        },
        // { route: 'commissies', text: 'Commissies' },
        { route: 'mailinglijsten', text: 'Mailinglijsten' },
        {
          route: 'logboeken', text: 'Logboeken', nav: [
            { route: 'logboeken-mailinglijsten', text: 'Mailinglijsten' },
            { route: 'logboeken-leden', text: 'Leden' },
          ],
        },
      ],
      GoogleLogo,
    }),
    computed: Object.assign({
      subrouteactive () {
        return this.$route.name !== 'index';
      },
    }, mapState({
      inited: (state) => state.googleauth.inited,
      signedin: (state) => state.googleauth.signedin,
      user: (state) => state.googleauth.user,
    })),
    methods: Object.assign({}, mapActions({
      init: 'googleauth/init',
      signin: 'googleauth/signin',
      signout: 'googleauth/signout',
    })),
    mounted () {
      if (!this.inited) this.init();
    },
    components: {
      BitonLogo,
    },
  });
</script>
<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto');

  .nav {
    list-style: none;
    margin-left: 0.5em;
    display: block;
  }

  .nav > li {
    margin-top: 1em;
    display: block;
  }

  .subnav {
    list-style: none;
    margin-left: 1em;
    padding-left: 0;
    font-size: 80%;
    padding-top: 0;
  }

  .subnav > li {
    display: block;
  }

  .nav a {
    color: rgba(255, 255, 255, 0.6);
  }

  .nav > li.active > a, .subnav > li.active > a {
    color: rgba(255, 255, 255, 1);
  }

  #signinbutton {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    box-shadow: 0.05rem 0.05rem 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    margin: 0.3rem;
    color: darkgray;
    padding: 0.3rem 0.6rem;
    font-size: 85%;
  }

  #signinbutton:hover {
    box-shadow: 0 0 0.3rem white;
  }

  #signinbutton img {
    margin-right: 0.5rem;
  }

  #signinlink:hover {
    text-decoration: none;
  }

  #logindiv {
    text-align: right;
    padding: 1em 0.5em 1em 0;
    align-self: flex-end;
  }
</style>
