<template>
  <div id="div" :class="[!inline ? 'overlay' : '']"
       :style="{opacity: loading ? 1 : 0, visibility: loading ? 'visible' : 'hidden'}">
    <loading-indicator v-if="loading" :size="small ? '8px' : '15px'"></loading-indicator>
  </div>
</template>
<script>
  import LoadingIndicator from 'vue-spinner/src/PulseLoader';
  import Vue from 'vue';

  export default Vue.extend({
    props: {
      loading: {
        default: true,
        type: Boolean,
      },
      inline: {
        default: false,
        type: Boolean,
      },
      small: {
        default: false,
        type: Boolean,
      },
    },
    components: {
      LoadingIndicator,
    },
  });
</script>
<style>
  #div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
    /*transition: opacity 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);*/
  }
</style>
