<template>
  <div class="d-flex">
    <sui-input id="searchinput" class="small" placeholder="Zoeken..." v-model="regex"></sui-input>
    <popper trigger="click" enter-active-class="toggle">
      <div class="ui segment" style="z-index: 3; width: auto; height: auto;">
        <input id="noglidcheck" type="checkbox" v-model="alleenleden"/>
        <label for="noglidcheck">Alleen leden</label>
        <div id="aceeditor" style="width: 30em; height: 20em;"></div>
      </div>
      <sui-button slot="reference" id="dropdownbutton" basic icon="caret down"/>
    </popper>
  </div>
</template>
<script>
  import diacritics from 'diacritics';
  import Vue from 'vue';
  import ace from 'brace';
  import 'brace/mode/javascript';
  import 'brace/theme/chrome';
  import Popper from 'vue-popperjs';
  import 'vue-popperjs/dist/css/vue-popper.css';

  export default Vue.extend({
    props: ['value'],
    data () {
      return {
        AceContent: '',
        regex: '',
        alleenleden: true,
      };
    },
    computed: {
      searchfunc () {
        const a = this.regex ? `/${diacritics.remove(this.regex)}/i.test(str)` : 'true';
        const b = this.alleenleden ? 'lid.Opzegdatum == null' : 'true';
        const c = this.AceContent || 'true';
        const func = `return ${a} && ${b} && ${c};`;
        this.$emit('input', func);
        return func;
      },
    },
    methods: {
      clear () {
        this.regex = '';
      },
    },
    watch: {
      'searchfunc': (val) => console.log(val),
    },
    mounted () {
      const editor = ace.edit('aceeditor');
      editor.getSession().setMode('ace/mode/javascript');
      editor.setTheme('ace/theme/chrome');
      editor.getSession().$worker.call("changeOptions", [{asi: true}]);
      editor.getSession().on('change', () => {
        this.AceContent = editor.getValue();
      });
    },
    components: {
      Popper,
    },
  });
</script>
<style>
  #dropdownbutton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 11px 7px;
  }

  #searchinput {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
    width: 100%;
  }

  #editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
</style>
